{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "require-jsdoc":"off",
        "indent":"off",
        "semi":"warn",
        "linebreak-style": "off",
        "object-curly-spacing": "off"
    },
    "extends": ["eslint:recommended", "google"]
}