{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "require-jsdoc":"off",
        "indent":"off",
        "semi":"off",
        "linebreak-style": "off",
        "object-curly-spacing": "off",
        "padded-blocks": "off",
        "no-trailing-spaces": "off",
        "eol-last": "off",
        "arrow-parens": "off",
        "comma-spacing":"off",
        "quotes":"warn",
        "operator-linebreak":"off",
        "space-before-function-paren":"off",
        "max-len": "off"
    },
    // "plugins": ["jest"],
    "extends": ["eslint:recommended", "google"]
}